<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>  

  <appSettings>
   	<!-- Configurable Constants -->
		<add key="searchResultsPerPage" value="20"/>
		<add key="emailadmins" value="aclark,akasala"/>
		<!-- Constants for XML/XSLT filenames -->		
		<add key="projectsearchXslt" value="\App_Data\combinedfulltextprojectsearch.xsl"/>
		<add key="profilesearchXslt" value="\App_Data\combinedprofileprojectsearch.xsl"/>
		<add key="reportSearchProjectXslt" value="\App_Data\combinedfulltextprojectsearch.xsl"/>
		<add key="reportSearchProfileXslt" value="\App_Data\combinedprofileprojectsearch.xsl"/>
		<add key="reportSearchCoordinatorXslt" value="\App_Data\coordinatorsearch.xsl"/>
		<add key="confirmXslt" value="\App_Data\confirm.xsl"/>
		<add key="sendpicallXslt" value="\App_Data\sendpicall.xsl"/>
		<add key="sendmessageXslt" value="\App_Data\sendmessage.xsl"/>
		<add key="projectlistXslt" value="\App_Data\projectlist.xsl"/>
		<add key="editeventXslt" value="\App_Data\editevent.xsl"/>
		<add key="listeventsXslt" value="\App_Data\eventslist.xsl"/>
		<add key="edituserXslt" value="\App_Data\edituserinfo.xsl"/>
		<add key="editparticipantXslt" value="\App_Data\editparticipantinfo.xsl"/>
		<add key="editprojectXslt" value="\App_Data\editproject.xsl"/>
		<add key="editpdpXslt" value="\App_Data\editpdp.xsl"/>
		<add key="editreportXslt" value="\App_Data\editreport.xsl"/>
		<add key="viewreportXslt" value="\App_Data\viewreport.xsl"/>
		<add key="viewprojectXslt" value="\App_Data\viewproject.xsl"/>
		<add key="claimprojectXslt" value="\App_Data\claimProject.xsl"/>
		<add key="claimpdpXslt" value="\App_Data\claimPdp.xsl"/>
		<add key="createprojectXslt" value="\App_Data\createproject.xsl"/>
		<add key="createpdpXslt" value="\App_Data\createpdp.xsl"/>
		<add key="addprofileXslt" value="\App_Data\profileshigh.xsl"/>
		<add key="addprofile2Xslt" value="\App_Data\profileslow.xsl"/>
		<add key="userlistXslt" value="\App_Data\userset.xsl"/>
		<add key="mainpageXslt" value="\App_Data\userinfo.xsl"/>
		<add key="errorXslt" value="\App_Data\error.xsl"/>
		<add key="navbarXslt" value="\App_Data\leftsidebar.xsl"/>
		<add key="eventnavbarXslt" value="\App_Data\eventleftsidebar.xsl"/>
		<add key="projectnavbarXslt" value="\App_Data\projectleftsidebar.xsl"/>
		<add key="retrievepassXslt" value="\App_Data\retrievepassword.xsl"/>
		<add key="eventsearchXslt" value="\App_Data\eventsearch.xsl"/>
		<add key="eventsDisplayXslt" value="\App_Data\displaycalendar.xsl"/>
		<add key="showEventXslt" value="\App_Data\showevent.xsl"/>
		<add key="projectReportMenuXslt" value="\App_Data\projectreportmenu.xsl"/>
		<add key="mailFooter" value="This is an automated email sent by MySARE. Visit http://mysare.sare.org to manage SARE projects or change your settings. Questions? If you believe you have received this message in error, please send an email to mysare@sare.org. For more information on grants and other resources available through the SARE program, please visit http://www.sare.org."/>
		<add key="mailerXslt" value="\App_Data\mailer.xsl"/>
		<add key="mailRecipientsXml" value="\App_Data\recipientslist.xml"/>
		<add key="profiledefinitionXml" value="\App_Data\profiledefinition.xml"/>
		<add key="testprofileXml" value="\App_Data\testprofile.xml"/>
		<add key="emailtestrecipient" value="estragon@ufl.edu"/>
		<add key="emailsender" value="if-svc-sareuser@ifas.ufl.edu"/>
		<add key="emailsenderfriendly" value="MySARE Mailer"/>
		<add key="emailbaserecipient" value="if-svc-sareuser@ifas.ufl.edu"/>
		<add key="emailbaserecipientfriendly" value="MySARE Recipients"/>
		<add key="emailserver" value="smtp.ifas.ufl.edu"/>
		<add key="website" value="http://mysare.sare.org"/>
		<add key="deleteprojectXslt" value="\App_Data\deleteProject.xsl"/>
		<add key="unclaimprojectsearchXslt" value="\App_Data\unclaimprojectsearch.xsl"/>
		<add key="notsubmittedprojoverviewsearchXslt" value="\App_Data\notsubmittedprojectsoverview.xsl"/>
		<add key="projectswithnoreportssearchXslt" value="\App_Data\projectswithnoreports.xsl"/>
		<add key="infoproductdetailXslt" value="\App_Data\infoproductdetail.xsl"/>
		<add key="searchwebsitemenuXslt" value="\App_Data\searchwebsitemenu.xsl"/>
		<add key="editcoordinatorXslt" value="\App_Data\editcoordinatorinfo.xsl"/>
		<add key="pdpInitXslt" value="\App_Data\pdpInit.xsl"/>
		<add key="pdpKeyOutXslt" value="\App_Data\pdpKeyOut.xsl"/>
		<add key="pdpKeyOutFieldXslt" value="\App_Data\pdpKeyOutField.xsl"/>
		<add key="pdpKeyOutStudyXslt" value="\App_Data\pdpKeyOutStudy.xsl"/>
		<add key="pdpKeyOutWebXslt" value="\App_Data\pdpKeyOutWeb.xsl"/>
		<add key="pdpKeyOutGrantsXslt" value="\App_Data\pdpKeyOutGrants.xsl"/>
		<add key="pdpKeyOutTravelXslt" value="\App_Data\pdpKeyOutTravel.xsl"/>
		<add key="pdpKeyOutOtherXslt" value="\App_Data\pdpKeyOutOther.xsl"/>
		<add key="pdpOutNarrativeXslt" value="\App_Data\pdpOutNarrative.xsl"/>
		<add key="viewUserXslt" value="\App_Data\viewuserinfo.xsl"/>
	</appSettings>

  <connectionStrings>
		 <!-- <add name="sareDaikonConnectionString" connectionString="server=Sqldev.ifas.ufl.edu\dev; database=SARE_Dynamic; Trusted_Connection=true;Connect Timeout=2000;pooling='true';Max Pool Size=10000"/>  -->
   <add name="sareDaikonConnectionString" connectionString="Data Source=sqlent.ifas.ufl.edu;Initial Catalog=SARE_Dynamic;User ID=if-svc-sare_webuser;Password=?zpiD-)M>|^])V>;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true"/>
	 <security>
      <requestFiltering>
        <!-- This will handle requests up to 150MB -->
        <requestLimits maxAllowedContentLength="1572864000" />
      </requestFiltering>
    </security>
    </system.webServer>
  
  	<system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		  <compilation debug="true" targetFramework="4.5">        
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		</system.web>
	<!-- Pages excluded from form authentication -->
	<location path="lostPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="newuser.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="resviewer.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="mailtest.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="report_viewer.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Events.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ProjectReport.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="mailer.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ErrorReport.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SearchWebsite.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
   <location path="login.aspx">
        <system.web>
           <authorization>
              <allow users="?"/>
           </authorization>
        </system.web>
   </location>
   
    <location path="ajax">
    <system.web>
    <authorization>
    <allow users="*" />
    </authorization>
    </system.web>
    </location>
  
  <location path="includes">
    <system.web>
    <authorization>
    <allow users="*" />
    </authorization>
    </system.web>
    </location>

	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<trace enabled="true" pageOutput="false"/>
		
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
		-->
		<identity impersonate="true"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<authentication mode="Forms">
			<forms name=".DAIKON" cookieless="UseCookies" loginUrl="login.aspx" protection="All" path="/" timeout="480" slidingExpiration="true">
			</forms>
		</authentication> 
		<sessionState mode="InProc" cookieless="false" timeout="480"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
		-->
		<!--<customErrors mode="Off">-->
		<customErrors mode="RemoteOnly" defaultRedirect="ErrorReport.aspx">
		</customErrors>
		<httpRuntime requestValidationMode="2.0" enableVersionHeader="true" executionTimeout="36000" maxRequestLength="153600" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"  targetFramework="4.5"/>
	</system.web>
 
</configuration>
